*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
    border: 1px solid #dadce0;
    height: 420px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 8px;
}
#logo{
    padding: 10px 90px 0px 130px;
}
h3{
    text-align: center;
    font-size: 20px;
    margin-bottom: 3px;
    font-weight: 500;
}
p{
    text-align: center;
    font-size: 17px;
    margin-bottom: 40px;
} 
#form input{
    border: 1px solid #a3a5a8;
    height: 40px;
    width: 360px;
    padding: 10px;
    margin: 0px 20px;
    border-radius: 7px;
}
::placeholder{
    color: black;
}
a{
    text-decoration: none;
    font-size: 17px;
    padding-left:25px ;
}
#submit input{
    border: 1px solid #a3a5a8;
    height: 30px;
    width: 70px;
    position: relative;
    float: right;
    margin-right: 20px;
    margin-top: 18px;
    background-color: rgb(45, 45, 250);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
#submit input:hover{
    scale: 1.1;
}
#submit input:active{
    opacity: 0.7;
}